@using CorridaDePesso.Models;
@model IEnumerable<CorridaDePesso.Models.CorridaViewModel>
@{
    ViewBag.Title = "Corridas em Andamento";
}
@section banner{
    <div id="banner" class="row">
        <div class="col-lg-4 col-lg-pull-1 pull-right">
            <ul>
                <li>
                    <h1>1. <small>cadastre sua corrida</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
                <li>
                    <h1>2. <small>defina as regras</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
                <li>
                    <h1>3. <small>acompanhe resultados</small></h1>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </li>
            </ul>
        </div>
    </div>
}

<h2>CORRIDAS EM ANDAMENTO</h2>

@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <td colspan="3">
                <h3>@item.Titulo</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="corrida-andamento">
                        <div class="col-lg-3">
                            <h4 style="margin:0">
                                <small>
                                    começou em @item.DataInicial.ToString("dd/mm/yyyy")
                                </small><br />
                                <small>
                                    termina em @item.DataFinal.ToString("dd/mm/yyyy")
                                </small><br />
                                @item.NumeroCorredores.ToString() <small>participantes</small>
                            </h4>
                        </div>
                        <div class="col-lg-1">
                            <img src="~/Img/id53.jpg" class="img-circle img-responsive" alt="" />
                        </div>
                        <div class="col-lg-3">
                            <h4 style="margin:0">
                                @item.CorredorLider.Nome <br />
                                <small>está liderando a corrida</small> <br />
                                <small>pois perdeu <strong>@item.CorredorLider.PesoPerdido Kg</strong></small>
                            </h4>
                        </div>
                        <div class="col-lg-6">
                            @if (Session["Usuario"] == null)
                            {
                                @Html.ActionLink("Quero participar", "Create", "Corredor", new { corridaId = item.Id }, new { @class = "btn btn-success" })
                            }
                            @if (Session["Usuario"] != null && ((ApplicationUser)Session["Usuario"]).TipoUsuario == TipoConta.Administrador)
                            {
                                @Html.ActionLink("Incluir Pesagem", "Create", "Pesagem", new { corridaId = item.Id }, new { @class = "btn btn-success" })
                            }
                            @Html.ActionLink("Acompanhe", "Index", "DashboardCorrida", new { corridaId = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Saiba mais...", "Details", "Corrida", new { Id = item.Id }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
