@model IEnumerable<CorridaDePesso.Models.Corredor>

@{
    ViewBag.Title = "Lista de Corredores";
}

<h2>Lista de Corredores</h2>
@if (Request.IsAuthenticated)
{
<p>
    @Html.ActionLink("Novo Corredor", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoIcinial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoAtual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoPerdido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoObjetivo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoIcinial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoAtual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoPerdido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoObjetivo)
        </td>
        <td>
           @if (Request.IsAuthenticated)
           {  @Html.ActionLink("Delete", "Delete", new { id=item.id }) }
        </td>
    </tr>
}

</table>
